<div class="container">
  <div class="wrapper-grey center-align">
    <h2>Slots par date</h2>
    <p>cf Doctolib</p>
    <div class="wrapper-white" style="width: 900px;">
      <div class="availabilities-table">
        <% @week1.each do |day| %>
          <div class="availabilities-day">
            <div class="availabilities-day-title">
              <div class="availabilities-day-name"><%= day.strftime("%A") %></div>
              <div class="availabilities-day-date"><%= day.strftime("%d %b") %></div>
            </div>
            <div class="availabilities-slots">
              <% availabilities = Availability.where(date: day) %>
                <% if availabilities == [] %>
                  <div class="empty-slot">
                  -
                  </div>
                <% else %>
                  <% availabilities.each do |a| %>
                    <div class="availabilities-slot" data-date="<%= day %>" data-time="<%= (a.time) %>">
                      <%= (a.time).strftime('%H:%M') %>
                    </div>
                  <% end %>
                <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

