<div class="container">
  <div class="wrapper-grey center-align">
    <h2>Slots par date</h2>
    <p>cf Doctolib</p>
    <div class="wrapper-white">
      <i class="fa fa-arrow-left" id="previous-week-arrow" aria-hidden="true"></i>
      <i class="fa fa-arrow-right" id="next-week-arrow" aria-hidden="true"></i>
      <div class="availabilities-table active" data-id="1">
        <% @week1.each do |day| %>
          <div class="availabilities-day">
            <div class="availabilities-day-title">
              <div class="availabilities-day-name"><%= day.strftime("%A") %></div>
              <div class="availabilities-day-date"><%= day.strftime("%d %b") %></div>
            </div>
            <div class="availabilities-slots">
              <% slots = @slots[day] %>
              <% slots.each do |slot| %>
                <% if @available_datetimes.include?(slot) %>
                  <div class="availabilities-slot active" data-date="<%= day %>" data-time="<%= slot %>">
                    <%= slot.strftime('%H:%M') %>
                  </div>
                <% else %>
                  <div class="availabilities-slot" data-date="<%= day %>" data-time="<%= slot %>">
                    <%= slot.strftime('%H:%M') %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

      <!-- Table Semaine 2 -->
      <div class="availabilities-table hidden" data-id="2">
        <% @week2.each do |day| %>
          <div class="availabilities-day">
            <div class="availabilities-day-title">
              <div class="availabilities-day-name"><%= day.strftime("%A") %></div>
              <div class="availabilities-day-date"><%= day.strftime("%d %b") %></div>
            </div>
            <div class="availabilities-slots">
              <% slots = @slots[day] %>
              <% slots.each do |slot| %>
                <% if @available_datetimes.include?(slot) %>
                  <div class="availabilities-slot active" data-date="<%= day %>" data-time="<%= slot %>">
                    <%= slot.strftime('%H:%M') %>
                  </div>
                <% else %>
                  <div class="availabilities-slot" data-date="<%= day %>" data-time="<%= slot %>">
                    <%= slot.strftime('%H:%M') %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <!-- Fin de la Table Semaine 2 -->

      <!-- Table Semaine 3 -->
      <div class="availabilities-table hidden" data-id="3">
        <% @week3.each do |day| %>
          <div class="availabilities-day">
            <div class="availabilities-day-title">
              <div class="availabilities-day-name"><%= day.strftime("%A") %></div>
              <div class="availabilities-day-date"><%= day.strftime("%d %b") %></div>
            </div>
            <div class="availabilities-slots">
              <% slots = @slots[day] %>
              <% slots.each do |slot| %>
                <% if @available_datetimes.include?(slot) %>
                  <div class="availabilities-slot active" data-date="<%= day %>" data-time="<%= slot %>">
                    <%= slot.strftime('%H:%M') %>
                  </div>
                <% else %>
                  <div class="availabilities-slot" data-date="<%= day %>" data-time="<%= slot %>">
                    <%= slot.strftime('%H:%M') %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <!-- Fin de la Table Semaine 3 -->

      <!-- Table Semaine 4 -->
      <div class="availabilities-table hidden" data-id="4">
        <% @week4.each do |day| %>
          <div class="availabilities-day">
            <div class="availabilities-day-title">
              <div class="availabilities-day-name"><%= day.strftime("%A") %></div>
              <div class="availabilities-day-date"><%= day.strftime("%d %b") %></div>
            </div>
            <div class="availabilities-slots">
              <% slots = @slots[day] %>
              <% slots.each do |slot| %>
                <% if @available_datetimes.include?(slot) %>
                  <div class="availabilities-slot active" data-date="<%= day %>" data-time="<%= slot %>">
                    <%= slot.strftime('%H:%M') %>
                  </div>
                <% else %>
                  <div class="availabilities-slot" data-date="<%= day %>" data-time="<%= slot %>">
                    <%= slot.strftime('%H:%M') %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <!-- Fin de la Table Semaine 4 -->

      <!-- Table Semaine 5 -->
      <div class="availabilities-table hidden" data-id="5">
        <% @week5.each do |day| %>
          <div class="availabilities-day">
            <div class="availabilities-day-title">
              <div class="availabilities-day-name"><%= day.strftime("%A") %></div>
              <div class="availabilities-day-date"><%= day.strftime("%d %b") %></div>
            </div>
            <div class="availabilities-slots">
              <% slots = @slots[day] %>
              <% slots.each do |slot| %>
                <% if @available_datetimes.include?(slot) %>
                  <div class="availabilities-slot active" data-date="<%= day %>" data-time="<%= slot %>">
                    <%= slot.strftime('%H:%M') %>
                  </div>
                <% else %>
                  <div class="availabilities-slot" data-date="<%= day %>" data-time="<%= slot %>">
                    <%= slot.strftime('%H:%M') %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <!-- Fin de la Table Semaine 5 -->

      <!-- Table Semaine 6 -->
      <div class="availabilities-table hidden" data-id="6">
        <% @week6.each do |day| %>
          <div class="availabilities-day">
            <div class="availabilities-day-title">
              <div class="availabilities-day-name"><%= day.strftime("%A") %></div>
              <div class="availabilities-day-date"><%= day.strftime("%d %b") %></div>
            </div>
            <div class="availabilities-slots">
              <% slots = @slots[day] %>
              <% slots.each do |slot| %>
                <% if @available_datetimes.include?(slot) %>
                  <div class="availabilities-slot active" data-date="<%= day %>" data-time="<%= slot %>">
                    <%= slot.strftime('%H:%M') %>
                  </div>
                <% else %>
                  <div class="availabilities-slot" data-date="<%= day %>" data-time="<%= slot %>">
                    <%= slot.strftime('%H:%M') %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <!-- Fin de la Table Semaine 6 -->

      <!-- Table Semaine 7 -->
      <div class="availabilities-table hidden" data-id="7">
        <% @week7.each do |day| %>
          <div class="availabilities-day">
            <div class="availabilities-day-title">
              <div class="availabilities-day-name"><%= day.strftime("%A") %></div>
              <div class="availabilities-day-date"><%= day.strftime("%d %b") %></div>
            </div>
            <div class="availabilities-slots">
              <% slots = @slots[day] %>
              <% slots.each do |slot| %>
                <% if @available_datetimes.include?(slot) %>
                  <div class="availabilities-slot active" data-date="<%= day %>" data-time="<%= slot %>">
                    <%= slot.strftime('%H:%M') %>
                  </div>
                <% else %>
                  <div class="availabilities-slot" data-date="<%= day %>" data-time="<%= slot %>">
                    <%= slot.strftime('%H:%M') %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <!-- Fin de la Table Semaine 7 -->

      <!-- Table Semaine 8 -->
      <div class="availabilities-table hidden" data-id="8">
        <% @week8.each do |day| %>
          <div class="availabilities-day">
            <div class="availabilities-day-title">
              <div class="availabilities-day-name"><%= day.strftime("%A") %></div>
              <div class="availabilities-day-date"><%= day.strftime("%d %b") %></div>
            </div>
            <div class="availabilities-slots">
              <% slots = @slots[day] %>
              <% slots.each do |slot| %>
                <% if @available_datetimes.include?(slot) %>
                  <div class="availabilities-slot active" data-date="<%= day %>" data-time="<%= slot %>">
                    <%= slot.strftime('%H:%M') %>
                  </div>
                <% else %>
                  <div class="availabilities-slot" data-date="<%= day %>" data-time="<%= slot %>">
                    <%= slot.strftime('%H:%M') %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <!-- Fin de la Table Semaine 8 -->

    </div>
    <button class="btn" id="validation-calendrier">Valider</button>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
    $('#next-week-arrow').click(function() {
      var week_id = $('.availabilities-table.active').data('id');
      console.log(<%= @week.length %>);
      if (week_id < <%= @week.length / 7 %>) {
        $('.availabilities-table.active').removeClass('active');
        var next_week_id = week_id + 1;
        $('.availabilities-table[data-id=' + next_week_id + ']').addClass('active');
        $('.availabilities-table').addClass('hidden');
        $('.availabilities-table[data-id=' + next_week_id + ']').removeClass('hidden');
      }
    });

    $('#previous-week-arrow').click(function() {
      var week_id = $('.availabilities-table.active').data('id');
      if (week_id > 1) {
        $('.availabilities-table.active').removeClass('active');
        var previous_week_id = week_id - 1;
        $('.availabilities-table[data-id=' + previous_week_id + ']').addClass('active');
        $('.availabilities-table').addClass('hidden');
        $('.availabilities-table[data-id=' + previous_week_id + ']').removeClass('hidden');
      }
    });
  </script>
<% end %>
